body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
    color: #333;
}

:root {
    --main-color: #6da9d1;
    --color-fondo: #f0efe0;
    --color-secciones: #fffceb;
    --color-sub-seccion: #ffffff;
    --color-descripcion: #333;
    --color-titulos: #333;
}

header, section, footer {
    margin: 20px auto;
    width: 80%;
    max-width: 960px;
}

header {
    text-align: center;
}

h1 {
    color: var(--color-titulos);
}

h2 {
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 5px;
    color: var(--color-titulos);
}

h3 {
    color: var(--color-titulos);
}

p {
    color: var(--color-descripcion);
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--main-color);
    color: #000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    color: #dddddd;
}

#idiomas {
    background-color: var(--color-secciones);
    padding: 20px;
}

.languages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.language {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-sub-seccion);
    padding: 20px;
    border: 1px solid var(--color-borde);
    border-radius: 8px;
    width: 180px;
    text-align: center;
}

.language span {
    font-size: 50px;
    margin-bottom: 10px;
}


#informatica {
    background-color: var(--color-secciones);
    padding: 20px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-sub-seccion);
    padding: 20px;
    border: 1px solid var(--color-borde);
    border-radius: 8px;
    width: 180px;
    text-align: center;
}

.skill span {
    font-size: 50px;
    margin-bottom: 10px;
}

#experiencia {
    background-color: var(--color-secciones);
    padding: 20px;
}

.experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.job {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-sub-seccion);
    padding: 20px;
    border: 1px solid var(--color-borde);
    border-radius: 8px;
    width: 250px;
    text-align: center;
}

.job span {
    font-size: 50px;
    margin-bottom: 10px;
}

#formacion-reglada {
    background-color: var(--color-secciones);
    padding: 20px;
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.degree {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-sub-seccion);
    padding: 20px;
    border: 1px solid var(--color-borde);
    border-radius: 8px;
    width: 250px;
    text-align: center;
}

.degree span {
    font-size: 50px;
    margin-bottom: 10px;
}

#formacion-complementaria {
    background-color: var(--color-secciones);
    padding: 20px;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-sub-seccion);
    padding: 20px;
    border: 1px solid var(--color-borde);
    border-radius: 8px;
    width: 250px;
    text-align: center;
}

.course span {
    font-size: 50px;
    margin-bottom: 10px;
}

cite {
    font-size: 16px;
    color: var(--color-descripcion);
}


#tareas-realizadas {
    background-color: var(--color-secciones);
    padding: 20px;
}

.tareas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.tarea {
    display: flex;
    flex-direction: column;
    background-color: var(--color-sub-seccion);
    padding: 20px;
    border: 1px solid var(--color-borde);
    border-radius: 8px;
    width: 900px;
    text-align: left;
}

.titulo-proyecto {
    text-decoration: underline;
}

.tarea {
    font-weight: bold;
}

.tarea p a {
    text-decoration: none;
    color: #ffffff;
}

.tarea p a:hover {
    color: #dddddd;
}

@media (prefers-color-scheme: dark) {
    
    :root {
        --main-color: #586173;
        --color-fondo: #222326;
        --color-secciones: #2F3540;
        --color-sub-seccion: #586173;
        --color-descripcion: #C4C4C4;
        --color-titulos: #E5E5E5;
        --color-borde: #fff;
    }
}